.holder {
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999999;
}

.holder .subholder {
  display: grid;
  place-items: center;
  text-align-last: center;
  margin: auto auto;
  width: 300px;
  height: 150px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: -75px;
  top: 50%;
  position: relative;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.holder .subholder .subholdertext {
  text-align: center;
}
.holder .subholder .subholderimgdiv {
  width: 100%;
  text-align: center;
}
.holder .subholder .subholderimgdiv img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.holder .textInfo {
  font-size: 20px;
  font-family: Lato;
  letter-spacing: 0px;
  color: #3b3b3b;
  opacity: 1;
}

.holder .lds-ring {
  width: 68px;
  height: 68px;
}

.holder .lds-ring div {
  box-sizing: border-box;
  width: 53px;
  height: 53px;
  border: 4px solid #fff;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fda200 transparent transparent transparent;
}

.holder .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.holder .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.holder .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.position-absolute {
  position: absolute;
}
