.brand-logo img {
    width: 85px;
    height: auto;
    float: left;
    padding-left: 0.5em;
    padding-right: 0.2em;
}

.brand-logo span {
    display: inline;
    color: black;
    float: right;
}

.connected-network {
    background-color: #3bb550;
}

.material-icons {
    line-height: inherit !important;
}
